* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}


@font-face {
  src: url(../fonts/Roboto/Roboto/Roboto-BoldItalic.ttf);
  font-family: robotoBoldItalic;
}
@font-face {
  src: url(../fonts/Roboto/Roboto/Roboto-Bold.ttf);
  font-family: robotoBold;
}
@font-face {
  src: url(../fonts/Roboto/Roboto/Roboto-Light.ttf);
  font-family: robotoLight;
}

@font-face {
  font-family: loraItalic;
  src: url(../fonts/Lora/Lora/Lora-Italic.ttf);
}


/* 
@font-face {
  src: url();
  font-family: lora;
} */