.text h1{
    font-size: 60px;
    font-family: robotoBold;
    writing-mode: vertical-lr;
    rotate: 180deg;
    letter-spacing: 10px;
    position: absolute;
    top: -170px;
    color: #EF767A;
}

.text{
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 1000px;
    font-size: 16px;
}

.text p{
    width: 513px;
    margin: 50px 50px;
    font-family: loraItalic;
}
